.image-fragments {
    position: relative;
    left: 0;
    top: 0;
    text-align: left;
}

.image-fragments > img:first-child {
    position: relative;
}

.image-fragments > img {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 75%;
}

.reveal section .image-fragments img {
    border: 0;
    box-shadow: none;
    margin: 15px 110px;
}

/* increases contrast on background */
#presentation h2, #presentation li, #presentation p {
    text-shadow: #421540 0 0 0.2em;
}

#presentation a, #presentation a:visited {
    color: white;
}

subtitle {
    font-size: 0.8em;
    color: yellow;
    margin-top: 20px;
    display: block;
}
